body{
    background-color: #282828;
    font-family: "Segoe UI Light", "Eras Medium ITC", monospace;
    color: rgb(150, 148, 148);
}

.logo-center {
    position: absolute;
    text-align: center !important;
    top: 85%;
    left: 45%;
}

.logo-mark {
    width: 100%;
    height: auto;
    max-width: 9vw;    
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;   
}

.textshadow {
    text-shadow: 2px 2px 4px #000000;
}

.text-center {
    position: relative;
    text-align: center !important;
}
